In [44]:
from scipy import stats
alumini=stats.norm.interval(0.95,loc=1990,scale=2500)
alumini

(-2909.909961350135, 6889.909961350135)

In [2]:
from scipy import stats
alumini=stats.norm.interval(0.95,loc=1990,scale=125)
alumini

(1745.0045019324932, 2234.9954980675066)

In [4]:
from scipy import stats
import pandas as pd
import numpy as np

In [25]:
glaxo_df = pd.read_csv("GLAXO.csv")
#reading the top 5 data
glaxo_df[0:5]

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [27]:
#Creating a new dataframe with _Data and Closing price
glaxo_df = glaxo_df[['Date', 'Close']]
glaxo_df

            Date    Close
0     2010-01-04  1625.65
1     2010-01-05  1616.80
2     2010-01-06  1638.50
3     2010-01-07  1648.70
4     2010-01-08  1639.80
...          ...      ...
1734  2016-12-26  2723.50
1735  2016-12-27  2701.75
1736  2016-12-28  2702.15
1737  2016-12-29  2727.90
1738  2016-12-30  2729.80

[1739 rows x 2 columns]

In [31]:
glaxo_df = glaxo_df.set_index(pd.DatetimeIndex(glaxo_df['Date']))
glaxo_df

                  Date    Close  gain
Date
2010-01-04  2010-01-04  1625.65   NaN
2010-01-05  2010-01-05  1616.80   NaN
2010-01-06  2010-01-06  1638.50   NaN
2010-01-07  2010-01-07  1648.70   NaN
2010-01-08  2010-01-08  1639.80   NaN
...                ...      ...   ...
2016-12-26  2016-12-26  2723.50   NaN
2016-12-27  2016-12-27  2701.75   NaN
2016-12-28  2016-12-28  2702.15   NaN
2016-12-29  2016-12-29  2727.90   NaN
2016-12-30  2016-12-30  2729.80   NaN

[1739 rows x 3 columns]

In [32]:
glaxo_df['gain'] = glaxo_df1.Close.pct_change(periods = 1)
glaxo_df

                  Date    Close      gain
Date
2010-01-04  2010-01-04  1625.65       NaN
2010-01-05  2010-01-05  1616.80 -0.005444
2010-01-06  2010-01-06  1638.50  0.013422
2010-01-07  2010-01-07  1648.70  0.006225
2010-01-08  2010-01-08  1639.80 -0.005398
...                ...      ...       ...
2016-12-26  2016-12-26  2723.50 -0.001283
2016-12-27  2016-12-27  2701.75 -0.007986
2016-12-28  2016-12-28  2702.15  0.000148
2016-12-29  2016-12-29  2727.90  0.009529
2016-12-30  2016-12-30  2729.80  0.000697

[1739 rows x 3 columns]

In [35]:
#drop first row since it is NaN
glaxo_df = glaxo_df.dropna()
glaxo_df.head()

                  Date    Close      gain
Date
2010-01-05  2010-01-05  1616.80 -0.005444
2010-01-06  2010-01-06  1638.50  0.013422
2010-01-07  2010-01-07  1648.70  0.006225
2010-01-08  2010-01-08  1639.80 -0.005398
2010-01-11  2010-01-11  1629.45 -0.006312

In [43]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print('Gain at 95% confidence interval is:',np.round(glaxo_df_ci,4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [45]:
stats.norm.ppf(0.975)

1.959963984540054

In [46]:
#Z SCORE FOR 90%
stats.norm.ppf(0.95)

1.6448536269514722

### T-distribution###

In [47]:
#t score for 90%
#confidence interva l , degrees of freedom
stats.t.ppf(0.95,139)

1.6558898677725957